html,
body,
h1,
h4,
ul{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
	background: #e6f2ff;
}
h1{
	background-color: green;
	font-size: 60px;
	padding-left: 10px;
}
.intro{
	background-color: grey;
	padding: 10px;
	margin-bottom: 10px;
}
.img-background{
	margin: 0 auto;
	background-image: url("hike-background.jpg");
	background-size: cover;
	padding: 100px 40px 100px 40px;
	width: 50%;
}
.content-box{
	background-color: white;
	font-size: 25px;
	padding: 10px;
	opacity: 0.8;
}
.searchbar, footer, h2{
	text-align: center;
}
input[name="search"], button[type="submit"]{
	padding: 5px;
	font-size: 20px;
}
.list{
	margin: 10px auto;
	width: 100%;
}
.thumbnail{
	width: 200px;
	height: 200px;
	margin-right: 10px;
}
.trail{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 10px;
	border: solid grey 1px;
	margin: 10px auto 10px;
	background: white;
}
.trail-info h4{
	margin-bottom: 10px;
	font-size: 25px;
}
ul{
	display: block;
	list-style: none;
	font-size: 20px;
}

@media screen and (min-width:700px){

} 